#color_name_red {
  color: #000000;
}

#color_name_green {
  color: #000000;
}

#color_name_blue {
  color: #000000;
}

.red_opacity_cost {
  margin-left: 5px;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.display_flex {
  display: flex;
}

.default_text {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.upgrades_default_text {
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
}

.main_colors {
  margin-top: 50px;
  display: flex;
  margin-bottom: 0;
}

.main_color_red {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_color_green {
  width: 250px;
  height: 250px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_color_blue {
  width: 250px;
  height: 250px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resourses {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light_text {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

.center_color {
  width: 350px;
  height: 350px;
  background: rgb(255,255,0);
  background: linear-gradient(225deg, rgba(255,255,0,1) 0%, rgba(255,0,255,1) 100%);
}

.background_center_color {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  background: rgb(0, 255, 0);
  background: radial-gradient(circle, rgba(0,255,0,1) 25%, rgba(0,0,255,1) 100%);
}

.gain_n_back_button {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 50px;
  text-align: center;
  width: 300px;
}

.red_count {
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.menu_colors {
  display:flex;
  grid-template-columns: 250px 250px;
  margin-left: auto;
  margin-right: auto;
}

.main_colors_buttons {
  margin: 10px 15px;
}

.upgrade_form {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  margin-top: 10px;
  width: 220px;
  height: 50px;
}

.gain_menu {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  margin-top: 10px;
  width: 220px;
  height: 50px;
}

.buttons {
  color: #4D5259;
  line-height: 1.5;
  font-weight: bold;
  padding: .5em 2em;
  background: #FFFFFF;
  border: 2px solid #4D5259;
  box-shadow: 4px 4px 0 0 #4D5259;
  border-radius: 100px;
  outline:0;
  transition: ease all .1s;
  text-align: center  ;
}

.buttons:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4D5259;
}

.buttons:hover {
  background: #d3d3d3;
}

footer {
  position: fixed;
  background-color: #a8a8a8;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings_buttons {
  margin-top: 8px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 10px;
  color: #4D5259;
  line-height: 1.5;
  font-weight: bold;
  padding: .5em 2em;
  background: #FFFFFF;
  border: 2px solid #4D5259;
  box-shadow: 2px 2px 0 0 #1d1f22;
  outline:0;
}

.settings_buttons:active {
  transform: translateY(2px) translateX(2px);
  box-shadow: 0px 0px 0 0 #4D5259;
}
.settings_buttons:hover {
  background: #979797;
}

.stats_upgrades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stats_opacity {
  display: grid;
}

.stats_opacity_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1250px;
}

.opacity_upgrade1_button {
  margin-top: 15px;
  margin-right: 50px;
  margin-left: 7%;
}

.autobuyer {
  margin-top: 15px;
  margin-left: 50px;
}

.stats_red {
  padding-left: 0px;
}

.stats_opacity_text {
  text-align: center;
  width: 1250px;
}

.stats_red_text {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  text-align: center;
}

.checkbox_text {
  margin-left: 10px;
  font-size: 10px;
}

.autobuyer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red_opacity_sec_gen {
  width: 100px;
}

.stats_main_colors {
  margin-left: 10px;
}

.checkbox_menu {
  margin-left: 0px;
}

.opacity_menu_num {
  font-size: 12px;
}

.opacity_sec_menu_num {
  font-size: 12px;
}

/* QWE*/
.win_css {
  display: none;
  font-size: 100px;
  margin: 20% 45%;
  color: #ffffff;
  text-align: center;
}